.header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    border: 1px solid black;
    position: fixed;
    top: 0;
    padding: 20px;
    background: white;
    margin-bottom: 30%;
    z-index: 999;
}

.brand {
    width: 20%;
}

.brand>h2 {
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}


.header-left {
    width: 50%;
    align-items: center;
    
}


.list {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}
.list>li
{
    opacity: 0.7;
}
.list>li:hover
{
    opacity: 0.9;
}

.drop-div {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    padding: 20px;
    background: white;
}

.drop-list {
    padding: 20px;
}

.drop-list:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.D-List {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.search {
    border: 1px solid black;
    width: 130%;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    outline: none;
}

.header-right {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.header-right>h3 {
    opacity: 0.7;
}
.header-right>h3:hover {
    cursor: pointer;
    opacity: 0.9;
}