.Product
{
    padding-top: 80px;
    width: 100vw;
    height: auto;
}
.p-card
{
    border: 2px pink solid;
    width:40%;
    height: 70vh;
}
.p-img
{
    height: 50vh;
    width: 100%;
    border: 2px red solid;
}