.product-container {
    padding-top: 80px;
    width: 100vw;
}

.products {
padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}