.Product-layout {
    width: 100vw;
    height: 100%;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}




.product-card {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    position: relative;
    box-shadow: 6px 15px 15px -3px rgb(174, 147, 147);
    transition: 0.3s ease-in-out;
}

.product-card:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0;

}

.product-img {
    width: 100%;
    height: 65%;
}

.product-img>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;

}


.color-container {
    display: flex;
    height: 30%;
    padding-bottom: 1em;
}

.color-btn {
    height: 10%;
    width: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    height: 1.8rem;
    width: 2rem;
}

.color-btn:hover {
    transform: scale(0.8);
    transition: 0.2s ease-in-out;
  
}

.p-data {
    padding-top: 1rem;
    padding-left: 5px;
    height: 35%;
    padding-bottom: 1rem;
}

.p-data>p {
    font-weight: 200;
    padding-bottom: 1rem;
}

.p-cart-btn {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.quickAdd {
    padding: 20px;
    background: white;
    color: balck;
    opacity: 0;
}

.product-card:hover .quickAdd {
    opacity: 1;
    transition: 0.3s ease;
}

.delete-btn
{
    position: absolute;
    top: 0;
    right: 0;
}
.del-icon
{
    font-size: 2rem;
    background: blue;
    color: white;
    border-radius: 100%;
}

