.Product-layout {
    width: 100vw;
    height: auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}




.product-card {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    margin-right: 2rem;
    position: relative;

}

.product-card:hover {
    cursor: pointer;
    box-shadow: 6px 15px 15px -3px rgb(174, 147, 147);
    transition: 0.3s ease-in-out;
}

.product-img {
    width: 100%;
    height: 65%;
}

.product-img>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;

}


.color-btn-div {
    display: flex;
}

.color-btn {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.p-data {
    padding-top: 1rem;
    padding-left: 5px;
}

.p-data>p {
    font-weight: 200;
}

.p-cart-btn {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.quickAdd {
    padding: 20px;
    background: white;
    color: balck;
    opacity: 0;
}

.product-card:hover .quickAdd {
    opacity: 1;
    transition: 0.3s ease;
}